<%= image_tag 'background.png', class:"background" %>
<div class="home_wrapper">
    <h2 class="title">Olypmic Gymnastics Admin Panel</h2>
        <ul class="organize_team">Organize Team By
            <li>Events</li>
            <li>Teams</li>
            <li>Coaches</li>
            <li>Gymnasts</li>
        </ul>
</div>


