/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Nav Bar */

nav{
    margin-bottom: 10px;
    background-image: linear-gradient(to bottom right, red, yellow);
    position: relative;
    bottom: 10px;
    right: -51px;
    padding-left: 15px;
    margin-left: -61px;
    margin-right: -18px;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

nav a:active{
    color: pink;
}

nav a {
    color: black;
    display: inline-block;
    padding: 10px;
    padding-right: 40px;
    position: relative;
    bottom: 27px;
    left: 35px;
    font-size: 20px;
    
}

.pokemon_academy{
    width: 325px;
    height: 75px;
    display: inline-block;
}

/*Course CSS*/
.courses_container{
    border: 2px solid black;
    position: relative;
}

.pikachu{
    position: absolute;
    z-index: -1;
    margin-left: -300px;
    bottom: -400px;
}

.course_view{
    display: none;
}

#course_1{
    display: block;
}

.all_courses{
    display: inline-block;
    border-right: 2px solid black;
    position: relative;
    height: 100%;
    border-bottom: none;
    width: 49%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.button_size{
    height: 15px;
    width: 15px;
}

.no_border{
    padding: 0;
    border: none;
    background: none;
}

/* .test_container{
    border: 2px solid red;
    height: 100px;
}

.inner_container{
    border-right: 2px solid red;
    width: 50%;
    height: 100%;
} */

.edit_courses{
    display: inline-block;
    position: absolute;
    top: 108px;
    width: 45%;
    height: 100%;
    padding-left: 15px;
}

/*Cohort CSS */
.cohorts_container{
    border: 2px solid black;

}
.cohort_view{
    display: none;
}

#cohort_1{
    display: block;
}
.students_cohorts_view{
    display: none;
}

#students_cohorts_1{
    display: block;
}

.all_cohorts{
    display: inline-block;
    width: 33%;
    height: 100%;
    border: 2px solid black;
    position: absolute;
}

.edit_cohorts{
    display: inline-block;
    border: 2px solid black;
    width: 32%;
    position: absolute;
    top: 25px;
    left: 443px;
    height: 100%;

}

.enrolled_students{
    display: inline-block;
    border: 2px solid black;
    width: 33%;
    position: absolute;
    right: 10px;
    height: 100%;

}

.unenrolled_students{
    position: absolute;
    top: 250px;
    left: 875px;
}

.add_students_view{
    display: none;
} 

#add_students_1{
    display: block;
}


/*Instructor CSS */
.instructor_container{
    border: 2px solid black;
}
.instructor_view{
    display: none;
}

#instructor_1{
    display:block;
}

.all_instructors{
    display: inline-block;
    border: 2px solid black;
    width: 50%;
    height: 100%;
    position: absolute;
}

.edit_instructors{
    display: inline-block;
    border: 2px solid black;
    position: absolute;
    left: 665px;
    top: 26px;
    width: 100%;
    height: 100%;
}

/*Students CSS */

.student_view{
    display: none;
}

#student_1{
    display: block;
}

.all_students{
    display: inline-block;
    border: 2px solid black;
    width: 50%;
    position: absolute;
    height: 100%;
}

.edit_students{
    display: inline-block;
    border: 2px solid black;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 665px;
}