/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Nav Bar */

nav{
    margin-bottom: 10px;
    background-image: linear-gradient(to bottom right, red, yellow);
    position: relative;
    bottom: 10px;
    right: -51px;
    padding-left: 15px;
    margin-left: -61px;
    margin-right: 43px;
    font-family: 'VT323', monospace;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

nav a:active{
    color: pink;
}

nav a {
    color: black;
    display: inline-block;
    padding: 10px;
    padding-right: 40px;
    position: relative;
    bottom: 27px;
    left: 35px;
    font-size: 29px;
    
}

.pokemon_academy{
    width: 325px;
    height: 75px;
    padding-top: 20px;
    margin-bottom: -30px;
    display: inline-block;
    margin-left: -40px;
    margin-right: -15px;
}

.pikachu{
    position: absolute;
    z-index: -1;
    margin-left: -452px;
    bottom: -400px;
}

body {
    font-family: 'Montserrat', sans-serif;
}
/*Course CSS*/
.courses_container{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.course_view{
    display: none;
}

#course_1{
    display: block;
}

.all_courses{
    border-right: 2px solid black;
    width: 49%;
    padding-left: 10px;
    padding-bottom: 20px;
}

.button_size{
    height: 15px;
    width: 15px;
}

.no_border{
    padding: 0;
    border: none;
    background: none;
}

.edit_courses{

    width: 45%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.list_of_cohorts{
    margin-left: -17px;
    margin-top: -15px;
}
/*Cohort CSS */
.cohorts_container{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}
.cohort_view{
    display: none;
}

#cohort_1{
    display: block;
}

.students_cohorts_view{
    display: none;
}

#students_cohorts_1{
    display: block;
}

.all_cohorts{
    width: 33%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.edit_cohorts{
    width: 33%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: 10px;
    padding-bottom: 20px;
}

.students{
    width: 33%;
    padding-left: 10px;
    padding-bottom: 20px;
}   

.enrolled_students{
    width: 100%;
    height: 50%;
}

.unenrolled_students{
    height: 50%;
}

.add_students_view{
    display: none;
} 

#add_students_1{
    display: block;
}


/*Instructor CSS */
.instructors_container{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}
.instructor_view{
    display: none;
}

#instructor_1{
    display:block;
}

.all_instructors{
    border-right: 2px solid black;
    width: 50%;
    padding-left: 10px;
    padding-bottom: 20px;
}

.edit_instructors{
    width: 50%;
    padding-left: 10px;
    padding-bottom: 20px;
}

/*Students CSS */

.students_container{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.student_view{
    display: none;
}

#student_1{
    display: block;
}

.all_students{
    border-right: 2px solid black;
    width: 50%;
    padding-left: 10px;
    padding-bottom: 20px;
}

.edit_students{
    width: 50%;
    height: 100%;
    padding-left: 10px;
    padding-bottom: 20px;
}